body {
   margin: 0px;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
}

header {
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #789391;
    position: fixed;
    z-index:1;
    width: 100%;
}

h1 {
    margin: 0px 0px 0px 25px;
    padding: 0px;
    font-size: 48px;
    color: #ffffff;
}

h2, p {
    text-align: center;
}

h2 {
    font-size: 36px;
}

h3 {
    font-family: 'Kaushan Script', cursive;
    color: #789391;
    font-size: 48px;
    padding-right: 50px;
}

nav {
    width: 50%;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: right;
}

li {
    margin: 0px;
    padding: 0px 15px;
    display: inline;
    list-style-type: none;
    font-size: 18px; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #dedede;
}

section {
    margin: 0;
    padding: 0px 0px;
    height: 525px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

video {
    grid-column: 2/4;
    grid-row: 1/3;
    padding: 125px 0px 0px 0px;
}

form {
    grid-column: 1/4;
    grid-row: 1/3;
}

input[type=submit] {
    background-color: #789391;
    color: #ffffff;
    border: none;
    height: 25px;
    width: 100px;
    padding:0;
    margin: 0;
}

input {
    margin: 0;
    height: 25px;
    font-size: 14px;
    background-color: #dedede;
    border:none;
    padding: 0px 5px 0px 5px;
}

.title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.feature {
    grid-row: 2/5;
    margin: 0px 30px 30px 30px;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.one {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #ffffff;
    padding: 50px;
}

.two {
    background-color: #dedede;
    padding: 50px;
    height: 325px;
}