/*#F7EFD4, #FADDAF, #EB712F, #91371B, #472C25, #D4C2B2*/


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dedede;
  color: #666;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: 
    "header header header"
    "space-left body space-right"
    "footer footer footer";
}

header {
  grid-area: header;
  text-align: center;
  padding-bottom: 10px;
}

form {
  background-color: white;
  padding: 50px;
  grid-area: body;
  border-radius: 5px;
  display: block;
}

label {
  display: inline-block;
  padding: 10px;
  margin: 0px;
}

legend {
  display: inline-block;
  padding: 10px;
  margin: 0px;
}

input[type=text], input[type=email], input[type=number], select {
  height: 30px;
  width: 200px;
  padding: 0px 5px 0px 5px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: white;
  margin: 0px 0px 20px 0px; 
  display: inline-block;
}

input[type=number], select {
  width: 50px;;
}

input[type=checkbox], input[type=radio] {
  width: 15px;
  padding: 0px 5px 0px 5px;
  margin: 0px 0px 20px 20px;
}

input[type=checkbox] {
  margin-bottom: 10px;
}

input:focus, select:focus {
  outline-color: #EB712F;
  outline-style: solid;
  outline-width: thin;

}

.checkbox {
  margin-right: 150px;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

textarea {
  display: block;
  outline:0;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 15px;
  border: 1px solid #dedede;
  border-radius: 5px;
  height: 150px;
  width: 500px;
}

input[type=submit] {
  height: 30px;
  width: 75px;
  border-radius: 2px;
  border: none;
  background-color: #EB712F;
  color: white;
}

input[type=submit]:hover {
  background-color: white;
  color:  #EB712F;
  border: 1px solid  #EB712F;
}

p {

}